singularity.enabled = true

process {
  executor = 'local'
  container = '/zstor/containers/singularity/freebayes.img'
}

executor {
    name = 'slurm'
    queueSize = 200
    pollInterval = '30 sec'
    clusterOptions = '--no-requeue'
}

params {
  freebayes_options     = ''
  output_prefix         = 'fb-10x'
  use_VCF_input         = false
  genome                = '/zstor/2016-tiger-wgs/reference/panthera-10x-170301.fasta'
  genomeFile            = '/zstor/2016-tiger-wgs/reference/panthera-10x-170301.fasta'
  genomeIndex           = '/zstor/2016-tiger-wgs/reference/panthera-10x-170301.fasta.fai'
  genomeDict            = '/zstor/2016-tiger-wgs/reference/panthera-10x-170301.fasta.dict'
  genomeBase            = '/zstor/2016-tiger-wgs/reference/panthera-10x-170301.fasta'
  genomeDir             = '/zstor/2016-tiger-wgs/reference'
}
